.logo {
  width: 135px;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.title {
  padding-left: 20px;
}

.avto {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.moto {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}