.footer {
  display: flex;
  align-items: center;
  min-height: 82px;
  margin-top: 140px;
  padding: 0 calc(50% - 585px);
  background-color: #F5F5F9;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 20px;
}

.item {
  font-size: 16px;
  font-weight: 600;
  color: #48494D;
}