.footer {
  display: flex;
  align-items: center;
  min-height: 82px;
  margin-top: 140px;
  padding: 0 calc(50% - 605px);
  background-color: #F5F5F9;
}

.list {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 20px;
  padding-left: 3px;
}

.item {
  font-size: 16px;
  font-weight: 600;
  color: #48494D;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    color: #000000;
  }
}
